<section class="container-fluid">  
    <div class="container"> 
    <h2>Contributor List</h2> 
<%var data = [ 
{
  "name": "Dr Lau Cher Han",
  "email": "drlau@thelead.io",
  "country": "Malaysia",
  "organization": "LEAD",
  "position": "CEO",
  "linkedin": "https://www.facebook.com/drhanlau",
  "twitter": "@cherhan",
  "telegram": "@drhanlau",
  "contribution": "Project coordinator"
},
{
  "name": "Alpheus Wanano Mogwe",
  "email": "alphmog@gmail.com \nalpheus.mogwe@mopipi.ub.bw",
  "country": "Botswana",
  "organization": "University of Botswana | Prime Focus PTY Ltd",
  "position": "Lecturer & Network Engineer",
  "linkedin": "https://www.linkedin.com/in/alpheus-wanano-mogwe-022573b4/",
  "twitter": "@alpheusAWM",
  "telegram": "Alpheus Mogwe",
  "contribution": "Network Engineer, UI Designs, Software Development, DB development"
},
{
  "name": "Tejas Bhor",
  "email": "tejasjbhor@gmail.com",
  "country": "France",
  "organization": "EISTI(France)",
  "position": "Data Scientist",
  "linkedin": "https://www.linkedin.com/in/bhortejasj",
  "twitter": "",
  "telegram": "Tejas Bhor",
  "contribution": "Working on scrapping data from internet for impacted locations and and applying with predictive text dased analysis which will gererate data for visualization."
},
{
  "name": "Andi Kurniawan",
  "email": "andi.xurniawan@gmail.com",
  "country": "Indonesia",
  "organization": "",
  "position": "",
  "linkedin": "",
  "twitter": "@adkwn",
  "telegram": "@adkwn",
  "contribution": ""
},
{
  "name": "Kor Win Sheng",
  "email": "ws.kor97@gmail.com",
  "country": "Malaysia",
  "organization": "International Medical University",
  "position": "4th year Medical Student",
  "linkedin": "",
  "twitter": "",
  "telegram": "Kor Win Sheng",
  "contribution": ""
},
{
  "name": "Fairoza Amira Binti Hamzah",
  "email": "fairozaamira@gmail.com",
  "country": "Malaysia",
  "organization": "The Kyoto College of Graduate Studies for Informatics, Japan",
  "position": "Assistant Professor",
  "linkedin": "http://linkedin.com/in/fairoza-amira-binti-hamzah",
  "twitter": "",
  "telegram": "Fairoza",
  "contribution": "Can help analyse the data, provides latest news from Japan and if you want to make a page in Japanese, ready to help!"
},
{
  "name": "Adina binti AbdullahTan",
  "email": "adina@ummc.edu.my",
  "country": "Malaysia",
  "organization": "University of Malaya",
  "position": "Associate Professor in Primary Care",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": ""
},
{
  "name": "Hazi Cavan",
  "email": "hazicavan@gmail.com",
  "country": "Malaysia",
  "organization": "Upon request",
  "position": "Blockchain UI/UX designer",
  "linkedin": "https://www.linkedin.com/in/hazicavan01/",
  "twitter": "",
  "telegram": "",
  "contribution": "Logo design, UI/UX"
},
{
  "name": "Elaine Chong",
  "email": "eelianx@gmail.com",
  "country": "Malaysia",
  "organization": "upon request",
  "position": "Data Analyst",
  "linkedin": "upon request",
  "twitter": "upon request",
  "telegram": "EL (Slack only. Not active on Telegram)",
  "contribution": "Copywriting/ Content Creation. But can assist with data related roles (dashboard, web scraping, data modeling, statistical analysis etc) Happy to assist."
},
{
  "name": "Azhar bin Ab Halim",
  "email": "azhar@thecads.com",
  "country": "Malaysia",
  "organization": "The Center of Applied Data Science",
  "position": "Data Scientist",
  "linkedin": "https://www.LinkedIn.com/in/azhar-ah/",
  "twitter": "@azhar_abhalim",
  "telegram": "@zhar97",
  "contribution": "Data analytics"
},
{
  "name": "Goh Kok Han",
  "email": "Hi@gohkokhan.com",
  "country": "Malaysia",
  "organization": "",
  "position": "Data Scientist",
  "linkedin": "https://my.linkedin.com/in/gohkokhan",
  "twitter": "",
  "telegram": "Gohkokhan",
  "contribution": "I can help visualize the data on Google data studio"
},
{
  "name": "Edmund Hee",
  "email": "edmund.hee05@gmail.com",
  "country": "Malaysia",
  "organization": "GRUDA Technologies Services",
  "position": "Data Scientist & Web Developer",
  "linkedin": "https://www.linkedin.com/in/edmundhee/",
  "twitter": "",
  "telegram": "@edmundhee",
  "contribution": ""
},
{
  "name": "Renganathan Palanisamy",
  "email": "rengaray@msn.com",
  "country": "Malaysia",
  "organization": "Innotiive Asia (M) Sdn Bhd",
  "position": "Data Specialist and Certified Trainer",
  "linkedin": "https://www.linkedin.com/in/rengaray/",
  "twitter": "@rengaray",
  "telegram": "rengaray",
  "contribution": "Working on Power BI Dashboard and Data Model"
},
{
  "name": "Marcus Chia",
  "email": "marcuschia01@gmail.com",
  "country": "Malaysia",
  "organization": "UXArmy",
  "position": "Director of Design",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": "Project manager, UI/UX"
},
{
  "name": "Kit Yu Heng",
  "email": "Yuheng.kit@gmail.com",
  "country": "Malaysia",
  "organization": "Universiti Teknologi Malaysia",
  "position": "Electronic Eng. Student",
  "linkedin": "",
  "twitter": "",
  "telegram": "Yuheng Kit",
  "contribution": "Translation, Web scraping"
},
{
  "name": "hamidi zanani",
  "email": "hamidizanani@gmail.com",
  "country": "Malaysia",
  "organization": "Universiti Teknologi MARA",
  "position": "eng. student",
  "linkedin": "https://www.linkedin.com/in/hamidi-zanani-221a0317b/",
  "twitter": "",
  "telegram": "",
  "contribution": "can help with content translation"
},
{
  "name": "Matthias Chin",
  "email": "m4tthias@gmail.com",
  "country": "Malaysia",
  "organization": "Universiti Teknologi Malaysia",
  "position": "ex-Commercial Banker. Ms.BIA student.",
  "linkedin": "",
  "twitter": "",
  "telegram": "M C",
  "contribution": ""
},
{
  "name": "Luis Lim Zi Xuan",
  "email": "latioslim@yahoo.com.sg",
  "country": "Malaysia",
  "organization": "International Medical University",
  "position": "Fifth Year Medical Student",
  "linkedin": "",
  "twitter": "",
  "telegram": "Luis Lim",
  "contribution": "Video editing"
},
{
  "name": "Tan Chen Liang",
  "email": "tcl0414@gmail.com",
  "country": "Malaysia",
  "organization": "International Medical University",
  "position": "Fifth year medical student",
  "linkedin": "https://www.linkedin.com/in/liang-chen-95577012a",
  "twitter": "@Chenliangtan14",
  "telegram": "Tan Chen Liang",
  "contribution": ""
},
{
  "name": "Liew Jin Yean",
  "email": "liewjinyean@gmail.com",
  "country": "Malaysia",
  "organization": "Self-employed",
  "position": "Freelance Marketer",
  "linkedin": "https://www.linkedin.com/in/jin-yean-liew-151a80196",
  "twitter": "",
  "telegram": "",
  "contribution": "Can help with marketing, testing"
},
{
  "name": "Edward Choh",
  "email": "jinkhangc@gmail.com",
  "country": "Malaysia",
  "organization": "",
  "position": "Front End Web Developer",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": "UI / UX / Front End Web Development stuff"
},
{
  "name": "Amirul Amin",
  "email": "am.amirulamin@gmail.com",
  "country": "Malaysia",
  "organization": "Aideal Techology",
  "position": "Frontend Developer, UI/UX Designer",
  "linkedin": "https://www.linkedin.com/in/amirul-amin-45165a131/",
  "twitter": "",
  "telegram": "",
  "contribution": "UI/UX, Frontend Development"
},
{
  "name": "Amir",
  "email": "amirjr1611@gmail.com",
  "country": "Malaysia",
  "organization": "Amir Tech",
  "position": "Full-stack Web Developer",
  "linkedin": "https://www.linkedin.com/in/amir1611/",
  "twitter": "@amir1611_",
  "telegram": "",
  "contribution": "Web Development, MySQL, UI/UX Design"
},
{
  "name": "Daniel Low",
  "email": "daniellow_jh@hotmail.com",
  "country": "Malaysia",
  "organization": "Digi Telecommunications",
  "position": "Graphic Designer",
  "linkedin": "https://www.linkedin.com/in/daniellowjh",
  "twitter": "",
  "telegram": "Daniel Low",
  "contribution": "I can help in creating posters, infographics, motion graphics and social media contents"
},
{
  "name": "Mohd Naim",
  "email": "naim.ibrahim@gmail.com",
  "country": "Malaysia",
  "organization": "Ministry of Home Affairs, Malaysia",
  "position": "IT Officer",
  "linkedin": "https://www.linkedin.com/in/naimibrahim",
  "twitter": "@naimibrahim",
  "telegram": "",
  "contribution": "Data migration, MySQL"
},
{
  "name": "Shian\"/Poon Chee Him",
  "email": "lvlzeros@gmail.com",
  "country": "Malaysia",
  "organization": "PCSB",
  "position": "Production Planner",
  "linkedin": "https://www.linkedin.com/in/poon-cheehim/",
  "twitter": "@lvlzeros",
  "telegram": "",
  "contribution": "Flutter mobile dev"
},
{
  "name": "James Koh",
  "email": "Kweechoy_koh@imu.edu.my",
  "country": "Malaysia",
  "organization": "International Medical University",
  "position": "Prof of Medicine, Infectious Diseases consultant",
  "linkedin": "",
  "twitter": "",
  "telegram": "Jimbocyberdoc",
  "contribution": ""
},
{
  "name": "Chong Ju Lian",
  "email": "julian@umt.edu.my",
  "country": "Malaysia",
  "organization": "Universiti Malaysia Terengganu",
  "position": "Senior Lecturer",
  "linkedin": "https://www.linkedin.com/in/ju-lian-chong-b0bb78175",
  "twitter": "@sundapangolin",
  "telegram": "Ju Lian Chong",
  "contribution": "Wildlife management, wildlife trafficking issues, zoologist and molecular ecologist with some experience as editor and assistant editor of journals, books"
},
{
  "name": "Joshua Tan",
  "email": "syhuan87@gmail.com",
  "country": "Malaysia",
  "organization": "RHB Bank Berhad",
  "position": "Strategy in Analytics",
  "linkedin": "",
  "twitter": "",
  "telegram": "Joshua Tan",
  "contribution": "Assist in contents creation"
},
{
  "name": "Zarul Rahim",
  "email": "zarulizham97@gmail.com",
  "country": "Malaysia",
  "organization": "",
  "position": "Web Programmer",
  "linkedin": "https://www.linkedin.com/in/zarul-rahim-92a6a1152/",
  "twitter": "@zarulizham97",
  "telegram": "Zarul Rahim",
  "contribution": "Working on backend development and able to handle frontend task as well."
},
{
  "name": "Chin Pei Ying",
  "email": "Peiying.chin@outlook.com",
  "country": "Malaysia",
  "organization": "",
  "position": "Data analyst",
  "linkedin": "https://www.linkedin.com/in/peiying-chin-80591b144",
  "twitter": "",
  "telegram": "",
  "contribution": "Python, dashboard, MySQL, data modelling"
},
{
  "name": "Nicolas Yip",
  "email": "salocin.ten@gmail.com",
  "country": "Malaysia",
  "organization": "BFM media",
  "position": "Web Developer",
  "linkedin": "",
  "twitter": "@salocinten",
  "telegram": "@SalocinTEN",
  "contribution": "Front end to middle end stuff on the website."
},
{
  "name": "Dominic Ligot",
  "email": "dominic.ligot@cirrolytix.com",
  "country": "Philippines",
  "organization": "CirroLytix Research Services",
  "position": "CTO",
  "linkedin": "https://www.linkedin.com/in/docligot/",
  "twitter": "@docligot",
  "telegram": "@docligot",
  "contribution": "Can help with stat models, web-maps, networks, and remote sensing"
},
{
  "name": "Carlos \"Naz\" Nazareno",
  "email": "",
  "country": "Philippines",
  "organization": "Wiki Society of the Philippines",
  "position": "Volunteer (web developer by profession)",
  "linkedin": "",
  "twitter": "@object404",
  "telegram": "",
  "contribution": "Helping with resource links"
},
{
  "name": "Frank Sarte",
  "email": "sfrankphilip@gmail.com",
  "country": "Philippines",
  "organization": "",
  "position": "",
  "linkedin": "https://www.linkedin.com/in/frank-sarte-795a4b10a",
  "twitter": "",
  "telegram": "Frank Sarte",
  "contribution": "UX/UI Design"
},
{
  "name": "Kaye Celine Palisoc",
  "email": "kayeceepalisoc@gmail.com",
  "country": "Philippines",
  "organization": "",
  "position": "",
  "linkedin": "https://www.linkedin.com/in/kayecelinepalisoc",
  "twitter": "",
  "telegram": "",
  "contribution": "Resource validation, can help with stats, analytics and ML works"
},
{
  "name": "Ong Chin Hwee",
  "email": "ongchinhwee@gmail.com",
  "country": "Singapore",
  "organization": "ST Engineering",
  "position": "Data Engineer",
  "linkedin": "https://www.linkedin.com/in/ongchinhwee",
  "twitter": "@ongchinhwee",
  "telegram": "Chin Hwee",
  "contribution": "Working on interactive Plotly dashboard with geomap using Python + network analytics to model distribution/spread of virus from one geolocation (province/country) to another. Also able to do data engineering if needed."
},
{
  "name": "Tan Wei Seng",
  "email": "tanweiseng13@gmail.com",
  "country": "Singapore",
  "organization": "Red Airship",
  "position": "Full-stack dev",
  "linkedin": "https://www.linkedin.com/in/wei-seng-tan-304ba78a/",
  "twitter": "",
  "telegram": "weiseng1",
  "contribution": "Working on backend and frontend development"
},
{
  "name": "Ryan Tan",
  "email": "squall3d@gmail.com",
  "country": "Singapore",
  "organization": "Red Airship",
  "position": "Full-stack Mobile, Web and DevOps",
  "linkedin": "https://www.linkedin.com/in/ryantanzh/",
  "twitter": "",
  "telegram": "Ryan Tan",
  "contribution": "Code review, fix bugs, telegram bot, visualization (experimental)."
},
{
  "name": "Muhammad Nuzaihan",
  "email": "zaihan@unrealasia.net",
  "country": "Singapore",
  "organization": "Taqi Systems (Malaysia/Kelantan)/Awesell Private Limited (Singapore)",
  "position": "Full-stack Mobile, Web and DevOps Engineer",
  "linkedin": "https://www.linkedin.com/in/muhammadnuzaihankamalluddin/",
  "twitter": "@mnuzaihan",
  "telegram": "Muhammad Nuzaihan",
  "contribution": "Twitter data scraping and Analysis"
},
{
  "name": "Gibson Tang",
  "email": "gibtang@gmail.com",
  "country": "Singapore",
  "organization": "Dishdash",
  "position": "Head of engineering",
  "linkedin": "https://www.linkedin.com/in/gibsontang/",
  "twitter": "@gibtang",
  "telegram": "gibtang",
  "contribution": "Web dev/Mysql/frontend and backend PHP"
},
{
  "name": "Jehoiada E. Mendoza",
  "email": "jehoiadamendoza@gmail.com",
  "country": "Singapore",
  "organization": "",
  "position": "IT Generalist",
  "linkedin": "https://www.linkedin.com/in/jehoiada-mendoza",
  "twitter": "",
  "telegram": "",
  "contribution": "Web and SQL Database. Willing to help."
},
{
  "name": "Ngo Yih Yang",
  "email": "yyngo788n88@hotmail.com",
  "country": "Singapore",
  "organization": "",
  "position": "Software Developer",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": "Backend development"
},
{
  "name": "Qi Xiang",
  "email": "qixyqix@outlook.com",
  "country": "Singapore",
  "organization": "National Service (with SPF)",
  "position": "Staff Assistant",
  "linkedin": "https://www.linkedin.com/in/qi-xiang/",
  "twitter": "",
  "telegram": "Qi Xiang",
  "contribution": "Working on frontend development"
},
{
  "name": "Shawn",
  "email": "e0004449@u.nus.edu",
  "country": "Singapore",
  "organization": "NUS",
  "position": "Student",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": ""
},
{
  "name": "Yu Hao Chen",
  "email": "yasuoyuhao@gmail.com",
  "country": "Taiwan",
  "organization": "Klearthink Design Co., Ltd",
  "position": "Chief Technology Officer",
  "linkedin": "https://www.linkedin.com/in/yasuoyuhao/",
  "twitter": "@yasuoyuhaoi",
  "telegram": "Yuhao Yasuo",
  "contribution": "Backend development, Set up API Document, Prepare develop Flutter App"
},
{
  "name": "Debbie Huang",
  "email": "hms.debbie@gmail.com",
  "country": "Taiwan",
  "organization": "FarEasTone Telecom",
  "position": "Data Analyst; B.Sc. in Clinical Laboratory Sciences and Medical Biotechnology",
  "linkedin": "http://linkedin.com/in/debbie-huang-b034a789",
  "twitter": "",
  "telegram": "Debbie Huang",
  "contribution": "MySQL, Analytics Dashboard, translation of first-hand news from Mandarin to English"
},
{
  "name": "Summit Suen",
  "email": "summit.suen@gmail.com",
  "country": "Taiwan",
  "organization": "Taiwan R User Group",
  "position": "Data Scientist",
  "linkedin": "https://www.linkedin.com/in/suensummit/",
  "twitter": "@SummitSuen",
  "telegram": "suensummit",
  "contribution": "Data pipeline and analytics"
},
{
  "name": "Howard Tien",
  "email": "htien1013@gmail.com",
  "country": "Taiwan",
  "organization": "Merck Group",
  "position": "Principal Statistical Programmer",
  "linkedin": "https://www.linkedin.com/in/howardtien/",
  "twitter": "",
  "telegram": "Howard Tien",
  "contribution": "Tools delvopement and Clinical trail statistical programmer, maser thesis: Integrating spatial and temporal information on the estimation of reproductive number for infectious diseases."
},
{
  "name": "Laurent Lin",
  "email": "laurentlin17@gmail.com",
  "country": "Taiwan",
  "organization": "Intech Network Service Limited",
  "position": "UI/UX Designer",
  "linkedin": "https://www.linkedin.com/in/cheng-en-lin-395045110/",
  "twitter": "",
  "telegram": "Laurent Lin",
  "contribution": "Can work on graphic design, infographic design, web UI design."
},
{
  "name": "WEIGUANG RAN",
  "email": "oliverranweiguang@gmail.com",
  "country": "United Kingdom",
  "organization": "Edinburgh Napier University",
  "position": "4th year Computing and Machine Leaning student",
  "linkedin": "http://linkedin.com/in/weiguang-ran-036461173",
  "twitter": "@Oliverran",
  "telegram": "@weiguang ran",
  "contribution": "data analytics, data cleaning, machine learning, python"
},
{
  "name": "Samuel Lee",
  "email": "samueljklee@gmail.com",
  "country": "USA",
  "organization": "Apple (contract)",
  "position": "Software Engineer (language)",
  "linkedin": "https://www.linkedin.com/in/samueljklee/",
  "twitter": "@samueljk96",
  "telegram": "",
  "contribution": "python, web scraping, MySQL"
},
{
  "name": "Amiza Amir",
  "email": "mizmieza@gmail.com",
  "country": "",
  "organization": "University Malaysia Perlis",
  "position": "Lecturer& Researcher in AI",
  "linkedin": "https://www.linkedin.com/in/amiza-amir-bb9a3541/",
  "twitter": "",
  "telegram": "Amiza Amir",
  "contribution": "can help with data mining and content verification."
},
{
  "name": "Kenny Kang",
  "email": "kennykang531@gmail.com",
  "country": "",
  "organization": "DoctorOnCall",
  "position": "Operation; MSc in Economics",
  "linkedin": "https://www.linkedin.com/in/kennykcy",
  "twitter": "@kennykcy",
  "telegram": "Kenny K",
  "contribution": "Can work on python, MySQL"
},
{
  "name": "Nikki Ng",
  "email": "yhuing@gmail.com",
  "country": "",
  "organization": "",
  "position": "Pharmacist",
  "linkedin": "",
  "twitter": "",
  "telegram": "Nikki_Ng",
  "contribution": "Pharmacist who experienced previous H1N1 in hosp setting. Can help with medical content."
},
{
  "name": "Khairul Ibrahim",
  "email": "khairulniza.ibrahim@gmail.com",
  "country": "",
  "organization": "Universiti Teknologi Malaysia",
  "position": "Product Mgr and MSc BIA student",
  "linkedin": "https://www.linkedin.com/in/khairul-ibrahim/",
  "twitter": "",
  "telegram": "Khairul Ibrahim",
  "contribution": "Deep learning and machine learning"
},
{
  "name": "Haziq Roslan",
  "email": "mohd.haziq.roslan@gmail.com",
  "country": "",
  "organization": "Digitas",
  "position": "Solutions ANalyst",
  "linkedin": "https://www.linkedin.com/in/haziqroslan/",
  "twitter": "@elethor",
  "telegram": "Zeke",
  "contribution": "Can work on data studio, tableau, and simple python and data engineering"
},
{
  "name": "Reynier Tasico",
  "email": "reynier.c.tasico@gmail.com",
  "country": "Philippines",
  "organization": "",
  "position": "Data Analyst/ Student",
  "linkedin": "https://www.linkedin.com/in/reynier-tasico-74b190197",
  "twitter": "@reintasico",
  "telegram": "reintasico",
  "contribution": "Can provide updates from the Philippines"
},
{
  "name": "Richard Moh",
  "email": "richard.kymoh@gmail.com",
  "country": "Malaysia",
  "organization": "CatJira",
  "position": "Social Lead and Product Manager",
  "linkedin": "https://www.linkedin.com/in/richardmoh/",
  "twitter": "@Richard_Moh",
  "telegram": "richard_moh",
  "contribution": "social media and digital media support"
},
{
  "name": "Amiyn al-Ansare",
  "email": "amiyn@amiyn.com",
  "country": "USA/Malaysia",
  "organization": "Self-employed",
  "position": "Software Development Systems Engineer",
  "linkedin": "https://linkedin.com/in/amiyn",
  "twitter": "",
  "telegram": "aalansare",
  "contribution": "CI/CI and Site Reliability, and Kubernetes. Wish to learn python and machine learning through this project."
},
{
  "name": "Shafiq Mustapa",
  "email": "sicksand@gmail.com",
  "country": "Malaysia",
  "organization": "Sustento Solutions",
  "position": "Technical Consultant",
  "linkedin": "",
  "twitter": "",
  "telegram": "",
  "contribution": "for coronatracker scrape news site for malaysia region, else can do all php/mysql also android mobile development"
},
{
  "name": "Jeck Lim",
  "email": "tsunjeck@hotmail.com",
  "country": "Malaysia",
  "organization": "",
  "position": "Data Analyst",
  "linkedin": "https://www.linkedin.com/in/jeck-lim-530aa873/",
  "twitter": "@tsunjeck",
  "telegram": "@jeckl90",
  "contribution": "can help with data mining, cleansing, vizualisation and designing infographics etc"
},
{
  "name": "Lip Kar Lock",
  "email": "lip.kar.lock@gmail.com",
  "country": "Malaysia",
  "organization": "MPCJ ENM (CJ WOW Shop)",
  "position": "Data Analyst, Digital Marketer, Ecommerce, Blogger",
  "linkedin": "https://www.linkedin.com/in/lipkarlock/",
  "twitter": "@lipkarlock9878",
  "telegram": "@lipkarlock",
  "contribution": "Can work on data analytics, Google Data Studio, Email marketing/auto responder (Mailchimp), data gathering, visualization"
},
{
  "name": "Ang Zi Qing",
  "email": "angziqing.vivian@gmail.com",
  "country": "Malaysia",
  "organization": "Universiti Sains Malaysia",
  "position": "Student",
  "linkedin": "https://www.linkedin.com/in/zi-qing-a-809828150/",
  "twitter": "",
  "telegram": "",
  "contribution": "web scraping, python, MySQL"
}
]%> 
<%for(var i=0;i<data.length;i++){%>
    <%var classNew = "" 
    if(i > 10){
        classNew = "corona-contri-1"
    }%> 
    <div  class="<%=classNew%> corona-contri-div">
        <a href="<%= data[i].linkedin%>" class="corona-contributor-a"><%= data[i].name%></a> 
        <%= data[i].position%>,<%if(data[i].organization){%> <%= data[i].organization%>,<%}%> <%= data[i].country%> 
    </div>
<%}%> 
    </div>
    <div class="show-chevron-display" id="hideChevron"></div> 
<a class="load-more-btn-a corona-contri-load-extra" id="corona-contri-loadmore" onclick="showHidden()"><%= lang.load_more_content_corona %></a> 
</section>