<!--How DoctorOnCall section starts from here -->
<section class="container">  
    <div class="main-howdocworks-heading">
            <div class="main-epharma-a">
               <a href="https://www.doctoroncall.com.my/patient#/signup"><h2><%= lang.mainpage_consult_doctor_online%></h2></a>
                </div>
                <p><%= lang.mainpage_consult_doctor_desc%><br>
                    <a href="https://www.doctoroncall.com.my/patient#/signup"><%= lang.mainpage_consult_doctor_now%></a>
                </p>
                
            </div>

            <div class="main-howdocworks-part main-howdocworks-slider">
                
                    <div class="main-docworks-product main-docworks-img"> 
                        <div class="main-docworks-label">1</div> 

                        <img src="/images/consult-1-doctoroncall.svg" loading="lazy" alt="Consult Doctor Online | DoctorOnCall" class="main-docworks-product-1">
                        <p class="main-docworks-steps-desc-p-1">
                            <a href="https://www.doctoroncall.com.my/patient#/signup" class="main-docworks-signup">
                                <%- lang.mainpage_consultdoc_signup%> </p>
                    </div> 

                    <div class="main-docworks-product main-docworks-img">
                        <div class="main-docworks-label">2</div>  

                        <img src="/images/consult-2-doctoroncall.svg" loading="lazy" alt="Consult Doctor Online | DoctorOnCall" class="main-docworks-product-3">
                        <p class="main-docworks-steps-desc-p-3"><%- lang.mainpage_consultdoc_speak_with_doc%></p>
                    </div>
                    
                    <div class="main-docworks-product main-docworks-img"> 
                        <div class="main-docworks-label">3</div> 

                        <img src="/images/consult-3-doctoroncall.svg" loading="lazy" alt="Consult Doctor Online | DoctorOnCall" class="main-docworks-product-4">
                        <p class="main-docworks-steps-desc-p-4"><%- lang.mainpage_consultdoc_receive_med%></p>
                    </div> 

            </div>
    </section>