<!--Read Health articles Desktop version starts from here-->
  <section class="container desktop-only">  
        <div class="main-read-health-articles">  
    <div class="main-epharma-a">
            <a href="https://www.doctoroncall.com.my/soalan"><h2><%= lang.mainpage_health_article%></h2></a>
            </div> 
    
        <p><%= lang.mainpage_health_article_desc%><br>
            <a href="https://www.doctoroncall.com.my/soalan"><%= lang.mainpage_read_health%></a>
        </p> 
        
        </div>

        <%if(language == "en"){%>

    <div class="main-health-questions">
        <div class="main-health-question-1">

        <% var articles = [{
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/health-article-6-doctoroncall.jpg",
            title: "What Causes Swollen Gums And How to Take Care?<br>",
            dr_img: "/images/DrSyuhada.jpg" ,
            dr_name: "Dr M Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "2 days ago",
            alt: "Tanya | DoctoronCall",
            altdoc: "Dr M Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" , 
            src: "images/health-article-5-doctoroncall.jpg",
            title: "Pregnancy Signs (Tanda hamil) to identify you are pregnant.",
            dr_img: "/images/DrSashini.png" ,
            dr_name: "Dr Sashini Seeni" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "4 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Sashini Seeni | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/kerap-kencing" , 
            src: "images/health-article-2-doctoroncall.jpg",
            title: "What Is the Cause of Frequent Urination And Correct Treatment?",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "1 day ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Nur Syuhada | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/kencing-berdarah" , 
            src: "images/health-article-3-doctoroncall.jpg",
            title: "Can doctor explain what causes the bleeding urine?",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr M Ramzdhan" ,  
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "3 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/gatal-kemaluan" , 
            src: "images/health-articles-1-doctoroncall.jpg",
            title: "What is the main cause of getting itchy on the genitals ?",
            dr_img: "/images/DrSashini.png" ,
            dr_name: "Dr Sashini Seeni" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "2 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" , 
            src: "images/health-article-4-doctoroncall.jpg",
            title: "Can the doctor explain what is normal sugar reading?",
            dr_img: "/images/DrSri.png" ,
            dr_name: "Dr Sri Vik" ,
            dr_title: "General Practitioner, 7 yrs exp",
            duration: "3 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        }]
        %> 
        
        <% var randomArticles = [] 
        for(var i = 0; i < 6 ; i++){
            var target = Math.floor(Math.random()*articles.length)
            randomArticles.push(articles[target]) 
            articles.splice(target, 1) 
        }
        articles = randomArticles 
            %>

        <% for(var i = 0 ; i < articles.length ; i++){%>
            <a href="<%= articles[i].link%>" class="main-health-div-2">
            <div class="main-health-diagram-2">
                <img src="<%= articles[i].src%>" alt="<%= articles[i].alt%>">
            </div>
            <p class="main-health-text-p"><%= articles[i].duration%><br></p> <p class="main-health-text"><%- articles[i].title%>  </p>
            <div class="main-dr-img">
                <img src="<%= articles[i].dr_img%>" alt="<%= articles[i].altdoc%>" class="main-health-dr-img">
                <p class="main-health-p"><%= articles[i].dr_name%>  <br> <generalpractiti><%= articles[i].dr_title%></generalpractiti></p> 
            </div>
        </a>  
        <%}%>
        
        </div> 
        </div> 
        <%}else if(language == "bm"){%> 
<!--BM section-->

<div class="main-health-questions">
    <div class="main-health-question-1">

    <% var articles = [{
        link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
        src: "images/health-article-6-doctoroncall.jpg",
        title: "Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?<br>",
        dr_img: "/images/DrSyuhada.jpg" ,
        dr_name: "Dr M Ramzdhan" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "2 days ago",
        alt: "Tanya | DoctoronCall",
        altdoc: "Dr M Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" , 
        src: "images/health-article-5-doctoroncall.jpg",
        title: "Tanda hamil (Pregnancy Signs) bagi mengenalpasti anda mengandung.",
        dr_img: "/images/DrSashini.png" ,
        dr_name: "Dr Sashini Seeni" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "4 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Sashini Seeni | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/kerap-kencing" , 
        src: "images/health-article-2-doctoroncall.jpg",
        title: "Apakah Punca Bagi Kerap Kencing Dan Rawatan yang betul?",
        dr_img: "/images/DrRamzdhan.png" ,
        dr_name: "Dr Ramzdhan" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "1 day ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Nur Syuhada | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/kencing-berdarah" , 
        src: "images/health-article-3-doctoroncall.jpg",
        title: "Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?",
        dr_img: "/images/DrRamzdhan.png" ,
        dr_name: "Dr M Ramzdhan" ,  
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "3 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/gatal-kemaluan" , 
        src: "images/health-articles-1-doctoroncall.jpg",
        title: "Kecenderungan untuk mendapat kegatalan di bahagian kemaluan?",
        dr_img: "/images/DrSashini.png" ,
        dr_name: "Dr Sashini Seeni" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "2 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" , 
        src: "images/health-article-4-doctoroncall.jpg ",
        title: "Bolehkah doktor terangkan apakah bacaan gula normal?",
        dr_img: "/images/DrSri.png" ,
        dr_name: "Dr Sri Vik" ,
        dr_title: "General Practitioner, 7 yrs exp",
        duration: "3 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    }]
    %> 
    
    <% var randomArticles = [] 
    for(var i = 0; i < 6 ; i++){
        var target = Math.floor(Math.random()*articles.length)
        randomArticles.push(articles[target]) 
        articles.splice(target, 1) 
    }
    articles = randomArticles 
        %>

    <% for(var i = 0 ; i < articles.length ; i++){%>
        <a href="<%= articles[i].link%>" class="main-health-div-2">
        <div class="main-health-diagram-2">
            <img src="<%= articles[i].src%>" alt="<%= articles[i].alt%>">
        </div>
        <p class="main-health-text-p"><%= articles[i].duration%><br></p> <p class="main-health-text"><%- articles[i].title%>  </p>
        <div class="main-dr-img">
            <img src="<%= articles[i].dr_img%>" alt="<%= articles[i].altdoc%>" class="main-health-dr-img">
            <p class="main-health-p"><%= articles[i].dr_name%>  <br> <generalpractiti><%= articles[i].dr_title%></generalpractiti></p> 
        </div>
    </a> 
    <%}%>
    
    </div> 
    </div>

    <%}%> 
  </section> 