<!-- start of footer-->
<footer class="container-fluid footer">
    <!-- start div for upper footer -->
    <div class="container">
      <!-- start div for row -->
      <div class="row">
        <!-- start div for column for DoctorOnCall description -->
        <div class="col-lg-5 col-md-6 first-footer">
          <a href="<%= url.doc_page %>">
            <svg class="footer-logo cls-1 cls-2 cls-3 cls-4" id="DOC_logo" viewBox="0 0 259.62 166.4"><text x="-118.51" y="-166.65"/><path class="cls-1" d="M206.4,166.65c0,0.27,0,.52,0,0.77q0,35.53,0,71.07a64.25,64.25,0,0,1-.31,7.68,38.71,38.71,0,0,1-4.31,13.77,47.38,47.38,0,0,1-20.58,20,38.83,38.83,0,0,1-13.67,3.92,45.81,45.81,0,0,1-19.39-2,42,42,0,0,1-17-10.94,45,45,0,0,1-9.62-14.65,43.31,43.31,0,0,1-3-13.54,47,47,0,0,1,2-17.4,47,47,0,0,1,24.75-27.46,40,40,0,0,1,13.82-3.27,44.14,44.14,0,0,1,19,2.94,40.55,40.55,0,0,1,11.4,6.84,1,1,0,0,1,.4.71c0,5.23,0,10.46,0,15.67,0,0.05,0,.11,0,0.28-0.16-.21-0.25-0.36-0.35-0.49a33.9,33.9,0,0,0-11.31-10.92,28.79,28.79,0,0,0-12.76-3.88,33.92,33.92,0,0,0-13.69,1.64c-9.69,3.34-19.19,13-21.34,24.72-1.41,7.64-.79,15.06,2.75,22,4.06,8,10.09,14.05,18.68,17.16A33,33,0,0,0,165.7,273c8.21-.61,14.85-4.34,20.33-10.33a34.13,34.13,0,0,0,7.24-12A30.21,30.21,0,0,0,195,242c0.05-1.29.08-2.59,0.08-3.9V166.65H206.4Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M301,240.53a36.41,36.41,0,0,1-.92,8.16A45.2,45.2,0,0,1,264,283.41a49,49,0,0,1-7.24.69,43.64,43.64,0,0,1-20.7-4.56,45.23,45.23,0,0,1-11-7.65,35.58,35.58,0,0,1-7.54-10,28.22,28.22,0,0,1-2.86-9.75,29.7,29.7,0,0,1,1.24-11.59,46.74,46.74,0,0,1,6.32-13.28,35.42,35.42,0,0,1,5.92-6.61,0.52,0.52,0,0,1,.32-0.15c-0.15.21-.27,0.43-0.4,0.63a32.43,32.43,0,0,0-5,13.81,31.73,31.73,0,0,0,5.39,22.54A35.55,35.55,0,0,0,251,272.37a43.85,43.85,0,0,0,33.32-7.54,45.71,45.71,0,0,0,12.11-13.93,50.18,50.18,0,0,0,4.5-10.15A0.61,0.61,0,0,1,301,240.53Z" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M212.66,237.19a35.6,35.6,0,0,1,.92-8.16,45.19,45.19,0,0,1,36.1-34.74,48.61,48.61,0,0,1,7.22-.68,43.81,43.81,0,0,1,20.7,4.55,44.5,44.5,0,0,1,11,7.65,34.85,34.85,0,0,1,7.54,10,27.93,27.93,0,0,1,2.86,9.77,29.26,29.26,0,0,1-1.24,11.59,45.91,45.91,0,0,1-6.32,13.27,34.53,34.53,0,0,1-5.91,6.63,0.5,0.5,0,0,1-.32.13l0.4-.62a32.37,32.37,0,0,0,5-13.81,31.71,31.71,0,0,0-5.39-22.53,35.5,35.5,0,0,0-22.61-14.93,43.67,43.67,0,0,0-33.32,7.56,45.26,45.26,0,0,0-12.09,13.9,50.52,50.52,0,0,0-4.5,10.15A1.58,1.58,0,0,1,212.66,237.19Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M334.24,333.05a5.78,5.78,0,0,1-.84-1.23c-1-2.42-2-4.86-3.06-7.31A0.89,0.89,0,0,0,330,324c-0.46,2.93-.95,5.84-1.44,8.77h-2c0.2-1.09.41-2.14,0.62-3.18,0.52-2.77,1.06-5.55,1.61-8.3a3.8,3.8,0,0,1,.52-1.26,0.7,0.7,0,0,1,1.23,0,5.71,5.71,0,0,1,.61,1.16c1,2.53,2.07,5.07,3.09,7.63a4,4,0,0,1,.27.59c0.11-.25.2-0.42,0.27-0.59,1.06-2.58,2.12-5.2,3.19-7.78a4.38,4.38,0,0,1,.54-1,0.71,0.71,0,0,1,1.23,0,3.2,3.2,0,0,1,.49,1.09q1.09,5.58,2.15,11.15a2.59,2.59,0,0,1,.06.5h-1.94c-0.49-2.93-1-5.87-1.48-9-0.15.32-.24,0.47-0.32,0.66-1,2.49-2,5-3.07,7.45a4.9,4.9,0,0,1-.84,1.12h-0.53Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M355.88,333.05a7.16,7.16,0,0,1-.85-1.23c-1-2.42-2-4.86-3-7.31a1,1,0,0,0-.35-0.49c-0.47,2.93-1,5.84-1.44,8.77h-2c0.21-1.09.41-2.14,0.62-3.18,0.53-2.77,1.06-5.55,1.62-8.3a3.5,3.5,0,0,1,.5-1.26,0.71,0.71,0,0,1,1.24,0,5.76,5.76,0,0,1,.61,1.16l3.09,7.63c0.07,0.15.15,0.32,0.25,0.59,0.13-.25.21-0.42,0.28-0.59,1.06-2.58,2.11-5.2,3.17-7.78a5,5,0,0,1,.54-1,0.71,0.71,0,0,1,1.23,0,3,3,0,0,1,.49,1.09c0.74,3.72,1.44,7.43,2.17,11.15,0,0.15,0,.31.06,0.5h-2c-0.47-2.93-1-5.87-1.48-9-0.14.32-.24,0.47-0.31,0.66-1,2.49-2,5-3.09,7.45a5.78,5.78,0,0,1-.82,1.12h-0.54Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M319,320a17.09,17.09,0,0,1,2.07,0,4.67,4.67,0,0,1,3.91,3.17,8.05,8.05,0,0,1-.17,6.62,4.79,4.79,0,0,1-4.79,3c-0.82,0-1.65,0-2.47,0a4.55,4.55,0,0,1-3.69-1.79,6.65,6.65,0,0,1-1.42-3.44,8.12,8.12,0,0,1,.6-4.74,4.77,4.77,0,0,1,4.6-2.92c0.46,0,.91,0,1.37,0v0Zm-0.08,10.58h1.41a3.19,3.19,0,0,0,3-1.9,5.2,5.2,0,0,0,.35-3.46,3.42,3.42,0,0,0-3.7-3c-0.78,0-1.58,0-2.35,0a3.08,3.08,0,0,0-3,1.84,5.08,5.08,0,0,0-.17,4.43,3.16,3.16,0,0,0,3.16,2.07C318.08,330.54,318.5,330.55,318.93,330.55Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M310.83,330.61v2.12c-0.06,0-.08.07-0.1,0.07-2,0-4.09.07-6.12,0a4.27,4.27,0,0,1-3.58-2.31,7.87,7.87,0,0,1-.32-7.82,4.61,4.61,0,0,1,4.5-2.71c1.84,0,3.7,0,5.59,0v2.26h-5.38a3.37,3.37,0,0,0-3.59,2.78,5.18,5.18,0,0,0,.24,3.52,3.18,3.18,0,0,0,3.13,2c1.82,0,3.63,0,5.46,0Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M371.44,326.29c0.56-1,1.08-1.87,1.58-2.77,0.62-1.08,1.24-2.15,1.84-3.21a0.59,0.59,0,0,1,.59-0.38c0.62,0,1.2,0,1.89,0-0.13.24-.21,0.4-0.31,0.56-1.48,2.49-2.93,5-4.4,7.43a2.34,2.34,0,0,0-.38,1.33c0,1.16,0,2.32,0,3.52h-1.75c0-.62-0.06-1.21,0-1.83a6.22,6.22,0,0,0-1.23-4.47c-1.31-1.93-2.45-4-3.66-6-0.11-.17-0.2-0.35-0.32-0.57,0.71,0,1.37,0,2,0a0.75,0.75,0,0,1,.46.36c1.1,1.79,2.21,3.59,3.3,5.39C371.19,325.9,371.29,326.07,371.44,326.29Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M297.6,331.78a1,1,0,0,1-.89,1.15,1.16,1.16,0,0,1,0-2.26A1,1,0,0,1,297.6,331.78Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M346.26,331.78a0.92,0.92,0,1,1-.94-1.12A1,1,0,0,1,346.26,331.78Z" transform="translate(-118.51 -166.65)"/><path class="cls-3" d="M254.11,259a1.81,1.81,0,1,1,3.62-.05A1.81,1.81,0,1,1,254.11,259Z" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M369.36,262.95a28.78,28.78,0,0,1-17.19,7.24,32.92,32.92,0,0,1-13.68-1.65c-8.6-3.13-14.62-9.14-18.68-17.18-3.53-7-4.16-14.38-2.77-22,2.17-11.7,11.67-21.38,21.37-24.72A34.06,34.06,0,0,1,352.09,203a29,29,0,0,1,12.76,3.89c1.6,0.94,7.12,3.38,8.46,3.42a5.15,5.15,0,0,1,3.23-2.43c0-1.82,0-3.67,0-5.51a1.16,1.16,0,0,0-.4-0.71c-0.91-.76-1.82-1.48-2.78-2.16a40.13,40.13,0,0,0-8.63-4.7,44.53,44.53,0,0,0-19-2.94,40.44,40.44,0,0,0-13.85,3.29,44.84,44.84,0,0,0-14.77,10.75,44.11,44.11,0,0,0-10,16.7,46.84,46.84,0,0,0-2,17.42,43.07,43.07,0,0,0,3,13.54,44.57,44.57,0,0,0,9.61,14.65,42,42,0,0,0,17,10.94,45.71,45.71,0,0,0,19.41,2,38.47,38.47,0,0,0,13.65-3.94,48.83,48.83,0,0,0,8.7-5.64c-0.05-2.43-.08-4.87-0.11-7.3Z" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M376.13,201.62s6,8.52-2.82,8.65" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M369.36,262.95s11.35-2.78,7.05,8.57" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M250.14,233.42l7.68,6.49v-2.08l3.53-4.42s5.59-.59,4.42,10h-3.82v9.73h-11.8v-9.87H246S244.84,234,250.14,233.42Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M274.68,248v6.8a7.47,7.47,0,0,1-7.44,7.41H244.66a7.4,7.4,0,0,1-7.4-6.43,8.34,8.34,0,0,1-.11-1.29V225.76a7.53,7.53,0,0,1,7.54-7.53h22.45a7.52,7.52,0,0,1,7.53,7.54c0,4.91,0,9.82,0,14.73a13.2,13.2,0,0,1-1.5,6.35,7.22,7.22,0,0,1-3.57,3.38,13.51,13.51,0,0,1-9.5.43,7.71,7.71,0,0,1-4.56-3.94,3.65,3.65,0,0,0-.63-0.66,3.84,3.84,0,0,1-.64-0.83c-0.44-1-.78-2.1-1.26-3.11-0.8-1.64-1.7-3.22-2.5-4.86a13,13,0,0,1-1.34-4.78,1.67,1.67,0,0,1,1.48-2,0.72,0.72,0,0,0,.72-0.73,4.87,4.87,0,0,1,3.45-4.43,4.51,4.51,0,0,1,5.47,3.19,6.17,6.17,0,0,1,.23,1.12,0.59,0.59,0,0,0,.51.61c1.62,0.29,2,1.28,1.66,3a24.71,24.71,0,0,1-3,7.08c-0.37.69-.83,1.37-1.16,2.09a20.49,20.49,0,0,0-.93,2.53,1.41,1.41,0,0,1-.92,1.28,7.05,7.05,0,0,0,4.14,3.3,10.89,10.89,0,0,0,8.1-.53,6.31,6.31,0,0,0,3.55-5.07,14,14,0,0,0,.12-2q0-6.69,0-13.37a6.14,6.14,0,0,0-6.4-6.39H245.56a6.12,6.12,0,0,0-6.25,5.14,5.9,5.9,0,0,0-.09,1.18v20.72a6.13,6.13,0,0,0,6.36,6.36q10.34,0,20.68,0a6.14,6.14,0,0,0,6.25-5,0.69,0.69,0,0,1,.15-0.33C273.32,249.48,274,248.71,274.68,248Zm-23.36-16.54c-1,.19-1.21.51-1,1.48,0.53,3,2.1,5.48,3.46,8.09a1.46,1.46,0,0,0,1.58.84,11.94,11.94,0,0,1,1.2,0,1.6,1.6,0,0,0,1.56-.92c0.54-1.05,1.12-2.09,1.66-3.14a16,16,0,0,0,1.86-4.88,3.41,3.41,0,0,0,0-1,0.83,0.83,0,0,0-.88-0.6c-0.43-.07-0.32.31-0.41,0.51s-0.23.63-.36,0.92a4.36,4.36,0,0,1-7.65.7A15.08,15.08,0,0,1,251.31,231.41ZM254.11,259a1.81,1.81,0,1,0,3.62-.05A1.81,1.81,0,1,0,254.11,259Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M231.78,308.5v-3.73a4.63,4.63,0,0,1,.61,0H240a3.85,3.85,0,0,0,3.55-1.94c0.78-1.35.57-4.13-.55-5.15a3.78,3.78,0,0,0-2.57-1c-3.37,0-6.73,0-10.1,0-0.34,0-.38.17-0.38,0.44,0,1.39,0,2.76,0,4.16,0,4.26,0,8.54,0,12.82,0,0.49-.13.66-0.61,0.63-0.67,0-1.33,0-2,0a0.36,0.36,0,0,1-.44-0.44c0-.61,0-1.22,0-1.83q0-9.47,0-19c0-.48.13-0.62,0.62-0.61,4,0,8.07,0,12.12,0a7.16,7.16,0,0,1,6,2.76,7.62,7.62,0,0,1,1.43,4,9,9,0,0,1-.65,4.65,6.76,6.76,0,0,1-3.76,3.66l-0.35.16,5.2,6.52-0.57,0h-3.41a0.87,0.87,0,0,1-.8-0.39c-1.39-1.78-2.8-3.55-4.19-5.33a1,1,0,0,0-.85-0.43c-1.8,0-3.58,0-5.38,0h-0.65Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M213.62,292.73a33.41,33.41,0,0,1,4.13.26c3,0.53,4.87,2.49,6.05,5.17a13.86,13.86,0,0,1,.95,6.16A12,12,0,0,1,221.9,312a7.11,7.11,0,0,1-5.18,2.62c-2.07.08-4.16,0.1-6.23,0a7.45,7.45,0,0,1-5.64-3.18,12.79,12.79,0,0,1-2.42-8.53,11.6,11.6,0,0,1,1.8-6.3,7.93,7.93,0,0,1,7-3.8h2.44v-0.08Zm0,3.9v0h-2.35a5,5,0,0,0-4.39,2.28A8.85,8.85,0,0,0,206,307a5.53,5.53,0,0,0,5.66,3.9c1.44-.05,2.9,0,4.35,0a5.14,5.14,0,0,0,4.72-2.74,8.83,8.83,0,0,0,.34-8,5.13,5.13,0,0,0-4.32-3.42A25,25,0,0,0,213.59,296.63Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M150.33,292.73a37.54,37.54,0,0,1,4.19.26,7.91,7.91,0,0,1,5.78,4.68,14.67,14.67,0,0,1-.49,12.69,8.14,8.14,0,0,1-5.59,4.17,6.34,6.34,0,0,1-.69.08c-2.11,0-4.24.09-6.35,0a7.47,7.47,0,0,1-5.86-3.51,12.38,12.38,0,0,1-2.19-6.89,13.23,13.23,0,0,1,1.13-6.36c1.59-3.23,4.12-5.06,7.83-5h2.23S150.33,292.74,150.33,292.73Zm-0.06,18.12c0.77,0,1.53,0,2.29,0a5.19,5.19,0,0,0,5-3,8.88,8.88,0,0,0,.36-7.37,5.48,5.48,0,0,0-5.64-3.9c-1.45.06-2.9,0-4.37,0A5,5,0,0,0,143.5,299a8.61,8.61,0,0,0-.69,8.24,5.3,5.3,0,0,0,5.48,3.59C149,310.82,149.61,310.85,150.26,310.85Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M118.56,314.59V292.8h0.61c3,0,6,0,9,0a8,8,0,0,1,7.59,4.64,13.19,13.19,0,0,1,1.31,6.93,12.72,12.72,0,0,1-1.7,6,8.07,8.07,0,0,1-5.57,4.16,6.38,6.38,0,0,1-1.1.1c-3.23,0-6.45,0-9.68,0Zm2.93-10.89c0,2.19,0,4.38,0,6.57,0,0.47.13,0.58,0.57,0.58,2,0,4,0,6,0a5.14,5.14,0,0,0,5-2.92,8.71,8.71,0,0,0,.3-7.72,5.37,5.37,0,0,0-5.47-3.63c-1.89.06-3.79,0-5.68,0-0.69,0-.7,0-0.7.66v6.44Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M182.1,310.85v3.77h-0.62c-3,0-5.94,0-8.92,0a7.75,7.75,0,0,1-6.8-3.6,13.09,13.09,0,0,1-2.13-8.63,11.47,11.47,0,0,1,1.67-5.61,7.93,7.93,0,0,1,7-4c3.07,0,6.16,0,9.23,0h0.6v3.8h-0.58c-2.85,0-5.73.08-8.57,0A5.76,5.76,0,0,0,167,301a8.82,8.82,0,0,0,.56,6.83,5.24,5.24,0,0,0,5,3c3,0,5.94,0,8.92,0h0.65Z" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M315.31,310.81v3.78h-0.62c-3,0-5.95,0-8.92,0A7.78,7.78,0,0,1,299,311a13.11,13.11,0,0,1-2.13-8.62,11.53,11.53,0,0,1,1.67-5.61,8,8,0,0,1,7-4c3.09,0,6.16,0,9.23,0h0.58v3.8h-0.56c-2.86,0-5.73.09-8.58,0a5.77,5.77,0,0,0-5.94,4.45,8.91,8.91,0,0,0,.54,6.84,5.32,5.32,0,0,0,5,3h9.58Z" transform="translate(-118.51 -166.65)"/><path class="cls-1" d="M190.87,314.55v-18H184v-2.48c0-1.32,0-1.32,1.3-1.32h14.85c0.44,0,.62.1,0.6,0.57,0,0.88,0,1.76,0,2.64a5.27,5.27,0,0,1,0,.6h-0.6c-1.79,0-3.58,0-5.37,0-1,0-.84-0.13-0.84.82q0,8.21,0,16.42v0.71h-3Z" transform="translate(-118.51 -166.65)"/><path class="cls-2" d="M260.68,292.75a39.59,39.59,0,0,1,4.12.26,8,8,0,0,1,6,5.17,13.73,13.73,0,0,1,1,6.17,12,12,0,0,1-2.85,7.66,7.08,7.08,0,0,1-5.18,2.61c-2.07.09-4.16,0.1-6.22,0a7.33,7.33,0,0,1-5.65-3.16,12.81,12.81,0,0,1-2.42-8.53,11.85,11.85,0,0,1,1.8-6.29,8,8,0,0,1,7-3.81h2.44v-0.08Zm0,3.92v0h-2.33a5,5,0,0,0-4.39,2.28A8.82,8.82,0,0,0,253,307a5.5,5.5,0,0,0,5.65,3.89c1.45-.08,2.9,0,4.36,0a5.14,5.14,0,0,0,4.72-2.73,8.83,8.83,0,0,0,.34-8,5.13,5.13,0,0,0-4.3-3.42C262.75,296.58,261.68,296.67,260.64,296.67Z" transform="translate(-118.51 -166.65)"/><path class="cls-4" d="M293.24,311.36c0,1.26-.4,1.88-1.21,1.88a2.94,2.94,0,0,1-2-1.17L278.4,299.53V313h-3.15v-17.8a2,2,0,0,1,.36-1.18,1.12,1.12,0,0,1,1-.51,2.6,2.6,0,0,1,1.81,1l11.68,12.53V293.56h3.16v17.81Z" transform="translate(-118.51 -166.65)"/><path class="cls-4" d="M343.27,314.38l-4.17,0-3.12-6h-8.84l2-3.73H334l-3.24-6.22-8.39,16h-4.19l10.11-19.48a5,5,0,0,1,1.08-1.39,2.34,2.34,0,0,1,1.46-.74,2.28,2.28,0,0,1,1.49.7,5.09,5.09,0,0,1,1,1.43Z" transform="translate(-118.51 -166.65)"/><path class="cls-4" d="M360.07,314.38H344V292.82h3.25v17.81h12.81v3.76Z" transform="translate(-118.51 -166.65)"/><path class="cls-4" d="M377.73,314.38H361.67V292.82h3.24v17.81h12.82v3.76Z" transform="translate(-118.51 -166.65)"/></svg>
  
          </a>
          <p> <%= lang.footer_aboutdesc %> </p> <br>
          <svg class="footer-readmore-arrow" viewBox="0 0 50 50">
            <path
              d="M 38.035156 13.988281 C 37.628906 13.980469 37.257813 14.222656 37.09375 14.59375 C 36.933594 14.96875 37.015625 15.402344 37.300781 15.691406 L 45.277344 24 L 2.023438 24 C 1.664063 23.996094 1.328125 24.183594 1.148438 24.496094 C 0.964844 24.808594 0.964844 25.191406 1.148438 25.503906 C 1.328125 25.816406 1.664063 26.003906 2.023438 26 L 45.277344 26 L 37.300781 34.308594 C 36.917969 34.707031 36.933594 35.339844 37.332031 35.722656 C 37.730469 36.105469 38.363281 36.09375 38.746094 35.691406 L 49.011719 25 L 38.746094 14.308594 C 38.5625 14.109375 38.304688 13.996094 38.035156 13.988281 Z ">
            </path>
          </svg>
          <a class="footer-readmore-link" href="<%= url.doc_page %>"><%= lang.footer_button_readmore %></a>
        </div>
        <!-- end div for column for DoctorOnCall description -->
        <!-- start div for column for Our Services -->
        <div class="col-lg-2 col-md-6 first-footer">
          <h3> <%= lang.footer_services %></h3>
          <div class="footer-content">
            <a href="<%= url.medicine %>"><%= lang.footer_order_medicine %></a>
            <a href="<%= url.signup_login%>"><%= lang.footer_consult_doctor %></a>
            <a href="<%= url.tanya %>"><%= lang.footer_ask_question %></a>
            <a href="<%= url.article%>"> <%= lang.footer_read_article %></a>
            <a href="<%= url.find_doctor%>"> <%= lang.footer_search_hospitals %></a>
            <a href="<%= url.find_doctor%>"><%= lang.footer_search_doctors %></a>
            <a href="<%= url.find_doctor%>"><%= lang.footer_book_appointment %></a>
            <a href="<%= url.tanya%>"><%= lang.footer_tanya_doktor %></a>
          </div>
        </div>
        <!-- end div for column for Our Services -->
        <!-- start div for column for doctorOnCall -->
        <div class="col-lg-2 col-md-6 first-footer">
          <h3> <%= lang.footer_doctoroncall %> </h3>
          <div class="footer-content">
            <a href="<%= url.about_us %>"> <%= lang.footer_about_us %></a>
            <a href="<%= url.privacy_policy %>"> <%= lang.footer_privacy %> </a>
            <a href="<%= url.faq %>"> <%= lang.footer_faq %> </a>
            <a href="<%= url.email %>"><%= lang.footer_contact_us %></a>
            <a href="<%= url.terms_of_use %>"> <%= lang.footer_terms_of_use %></a>
            <a href="<%= url.doctors_login %>"> <%= lang.footer_doctors_login %> </a>
            <a href="<%= url.media %>"><%= lang.footer_media %> </a>
          </div>
        </div>
        <!-- end div for column for DoctorOnCall -->
        <!-- start div for column for Reach Us -->
        <div class="col-lg-3 col-md-6 first-footer">
          <h3><%= lang.footer_reach_us %> </h3>
          <div class="footer-content">
            <a href="<%= url.tel_no %>">+60384082000</a>
            <a href="<%= url.email %>" target="_top">contact@doctoroncall.com.my</a>
            <div class="footer-social-media">
              <h3><%= lang.footer_social %></h3>
              <a target="_blank" href="<%= url.doc_facebook %>" alt="DoctorOnCall Facebook Page">
                <svg viewBox="0 0 172 172">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g fill="#333">
                    <path
                      d="M141.04,13.76h-110.08c-9.4944,0 -17.2,7.7056 -17.2,17.2v110.08c0,9.4944 7.7056,17.2 17.2,17.2h110.08c9.4944,0 17.2,-7.7056 17.2,-17.2v-110.08c0,-9.4944 -7.7056,-17.2 -17.2,-17.2zM127.28,65.36h-6.88c-7.3616,0 -10.32,1.72 -10.32,6.88v10.32h17.2l-3.44,17.2h-13.76v51.6h-17.2v-51.6h-13.76v-17.2h13.76v-10.32c0,-13.76 6.88,-24.08 20.64,-24.08c9.976,0 13.76,3.44 13.76,3.44z">
                    </path>
                </svg></a>
              <a target="_blank" href="<%= url.doc_instagram %>" alt="DoctorOnCall Instagram Page"><svg
                  viewBox="0 0 50 50">
                  <path fill="#333"
                    d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z">
                  </path>
                </svg></a>
              <a target="_blank" href="<%= url.doc_twitter %>" alt="DoctorOnCall Twitter Page">
                <svg viewBox="0 0 172 172">
                  <path d="M0,172v-172h172v172z" fill="none"></path>
                  <g fill="#333">
                    <path
                      d="M172.215,35.905c-6.35594,2.82188 -13.16875,4.71656 -20.33094,5.57656c7.31,-4.38063 12.92687,-11.31438 15.56062,-19.565c-6.82625,4.04469 -14.41844,6.9875 -22.4675,8.57312c-6.45,-6.88 -15.64125,-11.16656 -25.81344,-11.16656c-19.53812,0 -35.38094,15.82937 -35.38094,35.3675c0,2.76812 0.3225,5.46906 0.92719,8.0625c-29.40125,-1.47813 -55.45656,-15.56063 -72.91187,-36.96656c-3.05031,5.24062 -4.78375,11.31437 -4.78375,17.79125c0,12.26844 6.235,23.09906 15.73531,29.455c-5.805,-0.18813 -11.26062,-1.78719 -16.03094,-4.43438c0,0.14781 0,0.29563 0,0.44344c0,17.14625 12.20125,31.43031 28.36656,34.69562c-2.95625,0.80625 -6.08719,1.23625 -9.31219,1.23625c-2.28438,0 -4.50156,-0.215 -6.665,-0.645c4.515,14.04219 17.57625,24.295 33.04281,24.57719c-12.09375,9.48688 -27.34531,15.13063 -43.92719,15.13063c-2.86219,0 -5.67062,-0.16125 -8.42531,-0.49719c15.64125,10.05125 34.23875,15.89656 54.22031,15.89656c65.06438,0 100.64688,-53.89781 100.64688,-100.63344c0,-1.53187 -0.04031,-3.07719 -0.09406,-4.58219c6.90687,-4.98531 12.9,-11.22031 17.64344,-18.31531z">
                    </path>
                  </g>
                </svg></a>
              <a href="<%= url.doc_whatsapp %>" target="_blank">
                <svg viewBox="0 0 50 50">
                  <path fill="#333"
                    d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z">
                  </path>
                </svg> </a>
            </div>
          </div>
        </div>
        <!-- end div for column for Reach Us -->
      </div>
      <!-- end div for row -->
    </div>
    <!-- end div for upper footer -->
    <!-- start div for lower footer -->
    <div class="container footer-sitemap ">
      <!-- start div for sitemap -->
      <div class="footer-sitemap-title">
        <h2><%= lang.footer_maps %></h2>
      </div>
      <!-- end div for sitemap-->
      <!-- start div for sitemap content -->
      <div class="container ">
        <!-- start div for footer tabs -->
        <div class="footer-tabs">
          <input type="radio" name="tabs" id="tab-english" checked="checked">
          <label for="tab-english"><%=lang.footer_english %></label>
          <!-- start div for footer tab english -->
          <div class="footer-tab">
            <a href="<%= url.footer_en_womens_health %>"><%= lang.footer_en_womens_health %></a>
            <a href="<%= url.footer_en_general_health %>"><%= lang.footer_en_general_health %></a>
            <a href="<%= url.footer_en_mens_health %>"><%= lang.footer_en_mens_health %></a>
            <a href="<%= url.footer_en_sexual_health %>"><%= lang.footer_en_sexual_health %></a>
          </div>
          <!-- end div for footer tab english -->
          <input type="radio" name="tabs" id="tab-bahasa">
          <label for="tab-bahasa"><%=lang.footer_bahasa%></label>
          <!-- start div for footer tab bahasa -->
          <div class="footer-tab">
            <a href="<%= url.footer_bm_womens_health %>"><%= lang.footer_bm_womens_health %></a>
            <a href="<%= url.footer_bm_general_health %>"><%= lang.footer_bm_general_health %></a>
            <a href="%= url.footer_bm_mens_health %>"><%= lang.footer_bm_mens_health %></a>
            <a href="<%= url.footer_bm_sexual_health %>"><%= lang.footer_bm_sexual_health %></a>
          </div>
          <!-- end div for footer tab bahasa -->
          <input type="radio" name="tabs" id="tab-healthcentre">
          <label for="tab-healthcentre"><%=lang.footer_health_centre%></label>
          <!-- start div for footer tab health centre -->
          <div class="footer-tab">
            <a href="<%=url.footer_hipertensi%>"><%=lang.footer_hipertensi%></a>
            <a href="<%=url.footer_hipotensi%>"><%=lang.footer_hipotensi%></a>
            <a href="<%=url.footer_hiv_aids%>"><%=lang.footer_hiv_aids%></a>
            <a href="<%=url.footer_sinusitis%>"><%=lang.footer_sinusitis%></a>
            <a href="<%=url.footer_menstruation%>"><%=lang.footer_menstruation%></a>
            <a href="<%=url.footer_buasir%>"><%=lang.footer_buasir%></a>
            <a href="<%=url.footer_asma%>"><%=lang.footer_asma%></a>
            <a href="<%=url.footer_diabetes%>"><%=lang.footer_diabetes%></a>
            <a href="<%=url.footer_migrain%>"><%=lang.footer_migrain%></a>
            <a href="<%=url.footer_klamidia%>"><%=lang.footer_klamidia%></a>
            <a href="<%=url.footer_vaginosi_bakteria%>"><%=lang.footer_vaginosi_bakteria%></a>
            <a href="<%=url.footer_vulvitis%>"><%=lang.footer_vulvitis%></a>
            <a href="<%=url.footer_herpes_zoster%>"><%=lang.footer_herpes_zoster%></a>
            <a href="<%=url.footer_HPV%>"><%=lang.footer_HPV%></a>
            <a href="<%=url.footer_kutu%>"><%=lang.footer_kutu%></a>
            <a href="<%=url.footer_haid%>"><%=lang.footer_haid%></a>
            <a href="<%=url.footer_viagra%>"><%=lang.footer_viagra%></a>
            <a href="<%=url.footer_vaginitis%>"><%=lang.footer_vaginitis%></a>
            <a href="<%=url.footer_prediabetes%>"><%=lang.footer_prediabetes%></a>
            <a href="<%=url.footer_hipertensi_pulmonal%>"><%=lang.footer_hipertensi_pulmonal%></a>
            <a href="<%=url.footer_disfungsi_seksual%>"><%=lang.footer_disfungsi_seksual%></a>
            <a href="<%=url.footer_herpes_genital%>"><%=lang.footer_herpes_genital%></a>
            <a href="<%=url.footer_kolestrol_tinggi%>"><%=lang.footer_kolestrol_tinggi%></a>
            <a href="<%=url.footer_strok%>"><%=lang. footer_strok%></a>
            <a href="<%=url.footer_hepatitisB%>"><%=lang.footer_hepatitisB%></a>
            <a href="<%=url.footer_jenis1_diabetes%>"><%=lang.footer_jenis1_diabetes%></a>
            <a href="<%=url.footer_psoriasis%>"><%=lang.footer_psoriasis%></a>
            <a href="<%=url.footer_gallstones%>"><%=lang.footer_gallstones%></a>
            <a href="<%=url.footer_ejakulasi_pramatang%>"><%=lang.footer_ejakulasi_pramatang%></a>
            <a href="<%=url.footer_sifilis%>"><%=lang.footer_sifilis%></a>
            <a href="<%=url.footer_gonore%>"><%=lang.footer_gonore%></a>
            <a href="<%=url.footer_hepatitsA%>"><%=lang.footer_hepatitsA%></a>
            <a href="<%=url.footer_jenis2_diabetes%>"><%=lang.footer_jenis2_diabetes%></a>
            <a href="<%=url.footer_hepatitisC%>"><%=lang.footer_hepatitisC%></a>
            <a href="<%=url.footer_impotensi%>"><%=lang.footer_impotensi%></a>
            <a href="<%=url.footer_diabetes_insipidus%>"><%=lang.footer_diabetes_insipidus%></a>
            <a href="<%=url.footer_kandidiasis%>"><%=lang.footer_kandidiasis%></a>
            <a href="<%=url.footer_penyakit_kelamin%>"><%=lang.footer_penyakit_kelamin%></a>
            <a href="<%=url.footer_sakit_tekak%>"><%=lang.footer_sakit_tekak%></a>
            <a href="<%=url.footer_ketuat%>"><%=lang.footer_ketuat%></a>
            <a href="<%=url.footer_tiroid%>"><%=lang.footer_tiroid%></a>
            <a href="<%=url.footer_tonsil%>"><%=lang.footer_tonsil%></a>
          </div>
          <!-- end div for footer tab health centre-->
        </div>
        <!-- end div for footer tabs-->
      </div>
      <!-- start div for sitemap content -->
    </div>
    <!-- end div for upper footer -->
  </footer>
  <!-- end of footer-->
  