<!--Read Health articles mobile version starts from here-->
  <section class="container-fluid mobile-only">  
    <div class="main-read-health-articles">
        <div class="main-epharma-a">
            <a href="https://www.doctoroncall.com.my/soalan"><h2><%= lang.mainpage_health_article%></h2></a>
            </div> 
        <p><%= lang.mainpage_health_article_desc%><br>
          <a href="https://www.doctoroncall.com.my/soalan"><%= lang.mainpage_read_health%></a>
        </p> 
        
      </div>

      <%if(language == "en"){%>
      
        <div class="main-epharm-slider-2 main-read-health-articles-mobile"> 

          <a href="https://www.doctoroncall.com.my/soalan/gusi-bengkak" class="main-health-div-1">
            <div class="main-health-diagram1">
              <img src="images/health-article-6-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
            </div>
              <p class="main-health-text-p">2 <%=lang.mainpage_health_articles_days%><br></p> 
              <p class="main-health-text-2">What Causes Swollen Gums And How to Take Care?<br></p>
              <div class="main-dr-img">
              <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
              <p class="main-health-p">Dr M Ramzdhan<br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 8 <%=lang.mainpage_health_articles_years%></generalpractiti></p> 
              </div>
          </a>
        
          <a href="https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" class="main-health-div-1">
            <div class="main-health-diagram1">
                <img src="images/health-article-5-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
            </div>
            <p class="main-health-text-p">1 <%=lang.mainpage_health_articles_days%><br></p> 
            <p class="main-health-text-2">Pregnancy Signs (Tanda hamil) to identify you are pregnant.</p>
            <div class="main-dr-img">
                <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
                <p class="main-health-p">Dr Sashini Seeni<br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 8<%=lang.mainpage_health_articles_years%></generalpractiti></p> 
            </div>
          </a>
        
        
        
            <a href="https://www.doctoroncall.com.my/soalan/kerap-kencing" class="main-health-div-1">
              <div class="main-health-diagram1">
                  <img src="images/health-article-2-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
              </div>
              <p class="main-health-text-p">4 <%=lang.mainpage_health_articles_days%><br></p> <p class="main-health-text-2">What Is the Cause of Frequent Urination And Correct Treatment?</p>
              <div class="main-dr-img">
                  <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                  <p class="main-health-p">D rRamzdhan  <br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 8 <%=lang.mainpage_health_articles_years%></generalpractiti></p> 
              </div>
              </a>
        
        
        
        
              <a href="https://www.doctoroncall.com.my/soalan/kencing-berdarah" class="main-health-div-1">
                <div class="main-health-diagram1">
                  <img src="images/health-article-3-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
                  </div>
                      <p class="main-health-text-p">3 <%=lang.mainpage_health_articles_days%><br></p> 
                      <p class="main-health-text-2">Can doctor explain what causes the bleeding urine?</p>
                      <div class="main-dr-img">
                          <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                          <p class="main-health-p">Dr Ramzdhan  <br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 8 <%=lang.mainpage_health_articles_years%></generalpractiti></p> 
                      </div>
                </a>
        
                  <a href="https://www.doctoroncall.com.my/soalan/gatal-kemaluan" class="main-health-div-1">
                      <div class="main-health-diagram1">
                        <img src="images/health-articles-1-doctoroncall.jpg" alt="Tanya | DoctorOnCall">
                      </div>
                          <p class="main-health-text-p">2 <%=lang.mainpage_health_articles_days%><br></p> 
                          <p class="main-health-text-2">What is the main cause of getting itchy on the genitals ?</p>
                      <div class="main-dr-img">
                        <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
                        <p class="main-health-p">Dr Sashini Seeni <br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 8 <%=lang.mainpage_health_articles_years%></generalpractiti></p> 
                    </div>
                    </a>
        
                      <a href="https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" class="main-health-div-1">
                        <div class="main-health-diagram1">
                            <img src="images/health-article-4-doctoroncall.jpg" alt="Tanya | DoctorOnCall">
                        </div>
                        <p class="main-health-text-p">3 <%=lang.mainpage_health_articles_days%><br></p> 
                        <p class="main-health-text-2">Can the doctor explain what is normal sugar reading?</p>
                        <div class="main-dr-img">
                            <img src="/images/DrSri.png" loading="lazy" alt="D rSri | DoctorOnCall" class="main-health-dr-img">
                            <p class="main-health-p">Dr Sri<br> <generalpractiti><%= lang.mainpage_health_articles_gp%>, 7 <%=lang.mainpage_health_articles_years%></generalpractiti></p> 
                        </div>
                        </a>
        </div> 

<!--BM section-->

<%}else if(language == "bm"){%>

<div class="main-epharm-slider-2 main-read-health-articles-mobile"> 

  <a href="https://www.doctoroncall.com.my/soalan/gusi-bengkak" class="main-health-div-1">
    <div class="main-health-diagram1">
      <img src="images/health-article-6-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
    </div>
      <p class="main-health-text-p">2 <%=lang.mainpage_health_articles_days%><br></p> 
      <p class="main-health-text-2">Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?<br></p>
      <div class="main-dr-img">
      <img src="/images/DrSyuhada.jpg" loading="lazy" alt="Dr Nur Syuhada | DoctorOnCall" class="main-health-dr-img">
      <p class="main-health-p">Dr M Ramzdhan<br>
         <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
          <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
          </generalpractiti></p> 
      </div>
  </a>

  <a href="https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" class="main-health-div-1">
    <div class="main-health-diagram1">
        <img src="images/health-article-5-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
    </div>
    <p class="main-health-text-p">1 <%=lang.mainpage_health_articles_days%><br></p> 
    <p class="main-health-text-2">Tanda hamil (Pregnancy Signs) bagi mengenalpasti anda mengandung.</p>
    <div class="main-dr-img">
        <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
        <p class="main-health-p">Dr Sashini Seeni<br> 
          <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
            <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
            </generalpractiti></p> 
    </div>
  </a>



    <a href="https://www.doctoroncall.com.my/soalan/kerap-kencing" class="main-health-div-1">
      <div class="main-health-diagram1">
          <img src="images/health-article-2-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
      </div>
      <p class="main-health-text-p">4 <%=lang.mainpage_health_articles_days%><br></p> <p class="main-health-text-2">Apakah Punca Bagi Kerap Kencing Dan Rawatan yang betul?</p>
      <div class="main-dr-img">
          <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
          <p class="main-health-p">D rRamzdhan  <br> 
            <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
              <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
              </generalpractiti></p> 
      </div>
      </a>




      <a href="https://www.doctoroncall.com.my/soalan/kencing-berdarah" class="main-health-div-1">
        <div class="main-health-diagram1">
          <img src="images/health-article-3-doctoroncall.jpg" loading="lazy" alt="Tanya | DoctorOnCall">
          </div>
              <p class="main-health-text-p">3 d<%=lang.mainpage_health_articles_days%><br></p> 
              <p class="main-health-text-2">Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?</p>
              <div class="main-dr-img">
                  <img src="/images/DrRamzdhan.png" loading="lazy" alt="Dr Ramzdhan | DoctorOnCall" class="main-health-dr-img">
                  <p class="main-health-p">Dr Ramzdhan  <br>
                    <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
                      <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
                      </generalpractiti></p> 
              </div>
        </a>

          <a href="https://www.doctoroncall.com.my/soalan/gatal-kemaluan" class="main-health-div-1">
              <div class="main-health-diagram1">
                <img src="images/health-articles-1-doctoroncall.jpg" alt="Tanya | DoctorOnCall">
              </div>
                  <p class="main-health-text-p">2 <%=lang.mainpage_health_articles_days%><br></p> 
                  <p class="main-health-text-2">Kecenderungan untuk mendapat kegatalan di bahagian kemaluan?</p>
              <div class="main-dr-img">
                <img src="/images/DrSashini.png" loading="lazy" alt="Dr Sashini | DoctorOnCall" class="main-health-dr-img">
                <p class="main-health-p">Dr Sashini Seeni <br> 
                  <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
                    <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
                    </generalpractiti></p>  
            </div>
            </a>

              <a href="https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" class="main-health-div-1">
                <div class="main-health-diagram1">
                    <img src="images/health-article-4-doctoroncall.jpg" alt="Tanya | DoctorOnCall">
                </div>
                <p class="main-health-text-p">3 <%=lang.mainpage_health_articles_days%><br></p> 
                <p class="main-health-text-2">Bolehkah doktor terangkan apakah bacaan gula normal?</p>
                <div class="main-dr-img">
                    <img src="/images/DrSri.png" loading="lazy" alt="D rSri | DoctorOnCall" class="main-health-dr-img">
                    <p class="main-health-p">Dr Sri<br> 
                      <generalpractiti><%= lang.mainpage_health_articles_gp%>,<br>
                        <generalpractiti class="main-articles-gp">8 <%=lang.mainpage_health_articles_years%></generalpractiti>
                        </generalpractiti></p> 
                </div>
                </a>
</div> 
<%}%>
  </section>   