<!--Read Health articles Desktop version starts from here-->
  <section class="container desktop-only">  
        <div class="main-read-health-articles">
    <h2>Read Health Articles</h2>
    <p>Expand your health knowledge immediately with answers from registered doctors.</p> 
        </div>

    <div class="main-health-questions">
        <div class="main-health-question-1">

        <% var articles = [{
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/AdobeStock_143966522.png",
            title: "Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?<br>",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr M Ramzdhan" ,
            dr_title: "General Practitioner, 8 years"
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/kerap-kencing" , 
            src: "images/AdobeStock_63845531.png",
            title: "Tanda hamil (Pregnancy Signs) bagi mengenalpasti anda mengandung.",
            dr_img: "/images/DrSashini.png" ,
            dr_name: "Dr Sashini Seeni" ,
            dr_title: "General Practitioner, 8 years"
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/AdobeStock_234927937.png",
            title: "Apakah Punca Dan Rawatan Bagi Kerap Kencing? <br>",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr M Ramzdhan" ,
            dr_title: "General Practitioner, 8 years"
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/AdobeStock_118246577.png",
            title: "Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr M Ramzdhan" ,
            dr_title: "General Practitioner, 8 years"
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/AdobeStock_203387316.png",
            title: "Adakah lelaki dan wanita mempunyai kecenderungan yang sama untuk mendapat kegatalan di bahagian kemaluan ?",
            dr_img: "/images/DrSashini.png" ,
            dr_name: "Dr Sashini Seeni" ,
            dr_title: "General Practitioner, 8 years"
        },
        {
            link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
            src: "images/AdobeStock_278022401.png",
            title: "Bolehkah doktor terangkan apa bacaan gula normal dan bagaimana memeriksa parasnya?",
            dr_img: "/images/DrSri.png" ,
            dr_name: "Dr Sri Vik" ,
            dr_title: "General Practitioner, 7 years"
        }]
        %> 
        
        <% var randomArticles = [] 
        for(var i = 0; i < 6 ; i++){
            var target = Math.floor(Math.random()*articles.length)
            randomArticles.push(articles[target]) 
            articles.splice(target, 1) 
        }
        articles = randomArticles 
            %>

        <% for(var i = 0 ; i < articles.length ; i++){%>
            <a href="<%= articles[i].link%>" class="main-health-div-2">
            <div class="main-health-diagram-2">
                <img src="<%= articles[i].src%>" alt="">
            </div>
            <p class="main-health-text-p">3 days ago<br></p> <p class="main-health-text"><%- articles[i].title%><br><br>  </p>
            <div class="main-dr-img">
                <img src="<%= articles[i].dr_img%>" alt="" class="main-health-dr-img">
                <p class="main-health-p"><%= articles[i].dr_name%>  <br> <generalpractiti><%= articles[i].dr_title%></generalpractiti></p> 
            </div>
        </a> 
        <%}%> 
        
        </div> 
        </div>
  </section> 