<!--Read Health articles Desktop version starts from here-->
  <section class="container desktop-only">  
        <div class="main-read-health-articles">  
    <div class="main-epharma-a">
            <a href="https://www.doctoroncall.com.my/soalan"><h2><%= lang.mainpage_health_article%></h2></a>
            </div> 
    
        <p><%= lang.mainpage_health_article_desc%><br>
            <a href="https://www.doctoroncall.com.my/soalan"><%= lang.mainpage_read_health%></a>
        </p> 
        
        </div>

        <%if(language == "en"){%>

    <div class="main-health-questions">
        <div class="main-health-question-1">

        <% var articles = [{
            link: "https://www.doctoroncall.com.my/tanya/ask/hpv-vaccination-program/34395" , 
            src: "images/HPV.png",
            title: "HPV vaccination program for cervical cancer prevention<br>",
            dr_img: "/images/DrSyuhada.jpg" ,
            dr_name: "Dr Nur Syuhada" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "2 days ago",
            alt: "Tanya | DoctoronCall",
            altdoc: "Dr Nur Syuhada | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/tanya/ask/muscle-inflammation-pain/34696" , 
            src: "images/Muscle_Inflammation.png",
            title: "Myositis refers to any condition causing inflammation in muscles.",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "4 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/tanya/ask/tired-during-day-time/34523" , 
            src: "images/TiredDuringDayTime.png",
            title: "Why I’m still feel sleepy even though I slept well during the night?",
            dr_img: "/images/DrSyuhada.jpg" ,
            dr_name: "Dr Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "1 day ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Nur Syuhada | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/tanya/ask/anxiety-disorder-depression-ptsd-and-bipolar/33954" , 
            src: "images/Anxiety.png",
            title: "What is Anxiety Disorder, Depression, PTSD and Bipolar?",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr M Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "3 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/tanya/ask/burning-eyes-and-headache/34253" , 
            src: "images/BurningEyes.png",
            title: "How to avoid burning eyes sensation and headache ? <br>",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr Ramzdhan" ,
            dr_title: "General Practitioner, 8 yrs exp",
            duration: "2 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        },
        {
            link: "https://www.doctoroncall.com.my/tanya/ask/skin-problem-black-scars-wounds/32964" , 
            src: "images/SkinProblem.png",
            title: "How to get rid of black scars/wounds/skin infection?",
            dr_img: "/images/DrRamzdhan.png" ,
            dr_name: "Dr Ramzdhan" ,
            dr_title: "General Practitioner, 7 yrs exp",
            duration: "3 days ago",
            alt:"Tanya | DoctorOnCall",
            altdoc: "Dr Ramzdhan | DoctoronCall" 
        }]
        %> 
        
        <% var randomArticles = [] 
        for(var i = 0; i < 6 ; i++){
            var target = Math.floor(Math.random()*articles.length)
            randomArticles.push(articles[target]) 
            articles.splice(target, 1) 
        }
        articles = randomArticles 
            %>

        <% for(var i = 0 ; i < articles.length ; i++){%>
            <a href="<%= articles[i].link%>" class="main-health-div-2">
            <div class="main-health-diagram-2">
                <img src="<%= articles[i].src%>" alt="<%= articles[i].alt%>">
            </div>
            <p class="main-health-text-p"><%= articles[i].duration%><br></p> <p class="main-health-text"><%- articles[i].title%>  </p>
            <div class="main-dr-img">
                <img src="<%= articles[i].dr_img%>" alt="<%= articles[i].altdoc%>" class="main-health-dr-img">
                <p class="main-health-p"><%= articles[i].dr_name%>  <br> <generalpractiti><%= articles[i].dr_title%></generalpractiti></p> 
            </div>
        </a>  
        <%}%>
        
        </div> 
        </div> 
        <%}else if(language == "bm"){%> 
<!--BM section-->

<div class="main-health-questions">
    <div class="main-health-question-1">

    <% var articles = [{
        link: "https://www.doctoroncall.com.my/soalan/gusi-bengkak" , 
        src: "images/AdobeStock_143966522.png",
        title: "Apakah Penyebab Gusi Bengkak Dan Cara Merawat ?<br>",
        dr_img: "/images/DrSyuhada.jpg" ,
        dr_name: "Dr M Ramzdhan" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "2 days ago",
        alt: "Tanya | DoctoronCall",
        altdoc: "Dr M Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/signs-of-pregnancy-tanda-hamil" , 
        src: "images/AdobeStock_63845531.png",
        title: "Tanda hamil (Pregnancy Signs) bagi mengenalpasti anda mengandung.",
        dr_img: "/images/DrSashini.png" ,
        dr_name: "Dr Sashini Seeni" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "4 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Sashini Seeni | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/kerap-kencing" , 
        src: "images/AdobeStock_234927937.png",
        title: "Apakah Punca Bagi Kerap Kencing Dan Rawatan yang betul?",
        dr_img: "/images/DrRamzdhan.png" ,
        dr_name: "Dr Ramzdhan" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "1 day ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Nur Syuhada | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/kencing-berdarah" , 
        src: "images/AdobeStock_118246577.png",
        title: "Bolehkah doktor terangkan apakah Penyebab Kencing Berdarah?",
        dr_img: "/images/DrRamzdhan.png" ,
        dr_name: "Dr M Ramzdhan" ,  
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "3 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/gatal-kemaluan" , 
        src: "images/AdobeStock_203387316.png",
        title: "Kecenderungan untuk mendapat kegatalan di bahagian kemaluan?",
        dr_img: "/images/DrSashini.png" ,
        dr_name: "Dr Sashini Seeni" ,
        dr_title: "General Practitioner, 8 yrs exp",
        duration: "2 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    },
    {
        link: "https://www.doctoroncall.com.my/soalan/normal-glucose-reading-bacaan-gula-normal?logIn=false" , 
        src: "images/AdobeStock_278022401.png",
        title: "Bolehkah doktor terangkan apakah bacaan gula normal?",
        dr_img: "/images/DrSri.png" ,
        dr_name: "Dr Sri Vik" ,
        dr_title: "General Practitioner, 7 yrs exp",
        duration: "3 days ago",
        alt:"Tanya | DoctorOnCall",
        altdoc: "Dr Ramzdhan | DoctoronCall" 
    }]
    %> 
    
    <% var randomArticles = [] 
    for(var i = 0; i < 6 ; i++){
        var target = Math.floor(Math.random()*articles.length)
        randomArticles.push(articles[target]) 
        articles.splice(target, 1) 
    }
    articles = randomArticles 
        %>

    <% for(var i = 0 ; i < articles.length ; i++){%>
        <a href="<%= articles[i].link%>" class="main-health-div-2">
        <div class="main-health-diagram-2">
            <img src="<%= articles[i].src%>" alt="<%= articles[i].alt%>">
        </div>
        <p class="main-health-text-p"><%= articles[i].duration%><br></p> <p class="main-health-text"><%- articles[i].title%>  </p>
        <div class="main-dr-img">
            <img src="<%= articles[i].dr_img%>" alt="<%= articles[i].altdoc%>" class="main-health-dr-img">
            <p class="main-health-p"><%= articles[i].dr_name%>  <br> <generalpractiti><%= articles[i].dr_title%></generalpractiti></p> 
        </div>
    </a> 
    <%}%>
    
    </div> 
    </div>

    <%}%> 
  </section> 