<!--Health articles Mobile version starts from here-->
<section class="container mobile-only">
  <div class="container">
      <div class="col-md-5 main-health-articles">
          <div class="main-read-articles-part">
              <div class="main-epharma-a">
                  <a href="https://www.doctoroncall.com.my/tanya/"><h2><%= lang.mainpage_ask_question%></h2></a>
                  </div>  
      <p class="main-health-articles-tagline"><%=lang.mainpage_ask_doctor_desc%>
            <br><a href="https://www.doctoroncall.com.my/tanya/"><%= lang.mainpage_ask_doctor_now%></a>
      </p>
    </div>

          <a href="https://www.doctoroncall.com.my/tanya/ask/having-scoliolis-from-breastfeeding/33560" class="main-health-link1">
              <div class="main-health-section-2-1 main-health-section-2-element"></div>
              <div class="main-health-articles-div">Back Pain</div> 
                  I'm having pain from breastfeeding, can it be due to bad posture? 

            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/flu-cough-with-yellow-mucus-blocked-nasal/33184" class="main-health-link1">
                <div class="main-health-section-2-2 main-health-section-2-element"></div>
                <div class="main-health-articles-div">Sore Throat</div> 
                 I will be taking sedilic Rx linctus. Will there be drowsiness? 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/painful-red-bump-on-chest/33281" class="main-health-link1">
                <div class="main-health-section-2-3 main-health-section-2-element"></div>
                <div class="main-health-articles-div"> General Health</div> 
                 What is red bump on chest and how to treat it? 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/barchycardia-presented-with-sweating/34842" class="main-health-link1">
                <div class="main-health-section-2-4 main-health-section-2-element"></div>
                    <div class="main-health-articles-div"> General Health</div> 
                    I noticed a prologned Barchycardia condition presented with head... 
            </a>

            <a href="https://www.doctoroncall.com.my/tanya/ask/missed-consume-pil-yasmin/34469" class="main-health-link1">
                <div class="main-health-section-2-5 main-health-section-2-element"></div>
                    <div class="main-health-articles-div">Family Planning</div> 
                     I have been consuming yasmin pil almost 5 months... 
          </a> 
      </div>
<!--BM section-->
      <%if(language == "bm"){%>
        <div class="col-md-5 main-health-articles">
            <div class="main-read-articles-part">
                <div class="main-epharma-a">
                    <a href="https://www.doctoroncall.com.my/tanya/"><h2><%= lang.mainpage_ask_question%></h2></a>
                    </div>  
        <p class="main-health-articles-tagline"><%=lang.mainpage_ask_doctor_desc%>
              <br><a href="https://www.doctoroncall.com.my/tanya/"><%= lang.mainpage_ask_doctor%></a>
        </p>
      </div>
  
            <a href="https://www.doctoroncall.com.my/vaginosis-bakteria" class="main-health-link1">
                <div class="main-health-section-2-1 main-health-section-2-element"></div>
                <div class="main-health-articles-div">Keputihan</div> 
                Apakah penyakit Vaginosis bakteria dan rawatannya? 
  
              </a>
  
              <a href="https://www.doctoroncall.com.my/urti-flu-demam-selsema" class="main-health-link1">
                <div class="main-health-section-2-2 main-health-section-2-element"></div>
                  <div class="main-health-articles-div">URTI</div> 
                  Apakah URTI Dan Cara Mengelakkan Jangkitan?
              </a>
  
              <a href="https://www.doctoroncall.com.my/haid-sakit#show" class="main-health-link1">
                <div class="main-health-section-2-3 main-health-section-2-element"></div>
                  <div class="main-health-articles-div"> Haid Sakit</div> 
                  Apakah senggugut dan bagaimana mencegah dan merawat?
              </a>
  
              <a href="https://www.doctoroncall.com.my/vulvitis#show" class="main-health-link1">
                <div class="main-health-section-2-4 main-health-section-2-element"></div>
                      <div class="main-health-articles-div"> Keputihan</div> 
                      Apakah penyakit Vulvitis dan rawatan sesuai? 
              </a>
  
              <a href="https://www.doctoroncall.com.my/penyakit-kelamin-sti" class="main-health-link1">
                <div class="main-health-section-2-5 main-health-section-2-element"></div>
                      <div class="main-health-articles-div">Keputihan</div> 
                      Penyebab, Gejala, Diagnosis Dan Ubat Sesuai Untuk Penyakit Kelamin
            </a> 
</div>


        <%}%>
</div>  
</section>